<div class="container">
    <div class="text-center">
        <h4 class="title">See what others are building with Fluence</h4>
    </div>
</div>
<div class="partners-slider js-partners-slider">
    <div class="partners-button-next slider-nav">
    </div>
    <div class="partners-button-prev slider-nav">
    </div>
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="item">
                <div class="logo">
                    <img src="assets/images/logo-slide.png" alt="">
                </div>
                <div class="slider-title">
                    P2P messenger with decentralized identity
                </div>
                <p>Affinidi uses Fluence to build a decentralized, end-to-end encrypted, and scalable messenger
                    application that supports DID and provides users control over their data. Fluence provides
                    backbone for user connectivity, chat rooms discovery, messaging, and data indexing.</p>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="item">
                <div class="logo">
                    <img src="assets/images/logo-slide.png" alt="">
                </div>
                <div class="slider-title">
                    P2P messenger with decentralized identity
                </div>
                <p>Affinidi uses Fluence to build a decentralized, end-to-end encrypted, and scalable messenger
                    application that supports DID and provides users control over their data. Fluence provides
                    backbone for user connectivity, chat rooms discovery, messaging, and data indexing.</p>
            </div>

        </div>
        <div class="swiper-slide">
            <div class="item">
                <div class="logo">
                    <img src="assets/images/logo-slide.png" alt="">
                </div>
                <div class="slider-title">
                    P2P messenger with decentralized identity
                </div>
                <p>Affinidi uses Fluence to build a decentralized, end-to-end encrypted, and scalable messenger
                    application that supports DID and provides users control over their data. Fluence provides
                    backbone for user connectivity, chat rooms discovery, messaging, and data indexing.</p>
            </div>

        </div>
        <div class="swiper-slide">
            <div class="item">
                <div class="logo">
                    <img src="assets/images/logo-slide.png" alt="">
                </div>
                <div class="slider-title">
                    P2P messenger with decentralized identity
                </div>
                <p>Affinidi uses Fluence to build a decentralized, end-to-end encrypted, and scalable messenger
                    application that supports DID and provides users control over their data. Fluence provides
                    backbone for user connectivity, chat rooms discovery, messaging, and data indexing.</p>
            </div>
        </div>
    </div>
</div>
