<section class="build">

    <div class="container">
        <div class="text-center">
            <h2 class="title">Build Web 3 protocols<br>
                with a few lines of code</h2>
            <div class="sub-title">Develop peer-to-peer software <br> without reliance on proprietary cloud services
            </div>
        </div>

        <div class="build-slider js-build-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <p>censorship resistant apps</p>
                    <span>Deploy applications freely to the Fluence network which has no central admin or coordinator
                    </span>
                </div>
                <div class="swiper-slide">
                    <p>dao-managed applications</p>
                    <span>Off-chain code follows the on-chain DAO decisions; host them on Fluence with your community
                    </span>
                </div>
                <div class="swiper-slide">
                    <p>data sharing protocols</p>
                    <span>Design data pinning, load balancing, and replication protocols with Fluence
                    </span>
                </div>
                <div class="swiper-slide">
                    <p>serverless platforms</p>
                    <span>Build and provide scalable cloud services without vendor lock in
                    </span>
                </div>
                <div class="swiper-slide">
                    <p>blockchain oracles</p>
                    <span>Design systems that collect, verify, and post data on-chain with Fluence
                    </span>
                </div>
                <div class="swiper-slide">
                    <p>multi-party computations</p>
                    <span>Easily roll up network algorithms involving multiple peers, servers, API providers
                    </span>
                </div>
                <div class="swiper-slide">
                    <p>nft platforms</p>
                    <span>Bring decentralized indexing, search, retrieval, caching to the NFT metadata
                    </span>
                </div>
                <div class="swiper-slide">
                    <p>decentralized exchanges</p>
                    <span>Add off-chain order books to on-chain DEX and save on gas with p2p signature collection
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
