<section class="deploy">
    <div class="deploy-bg"></div>
    <div class="container">
        <div class="text-center">
            <h3 class="title">Deploy to a <br>decentralized network </h3>
            <div class="row">
                <div class="col-12 col-md-6 offset-md-3">
                    <div class="sub-title">Fluence network executes applications without a single coordination center,
                        eliminating potential failure and censorship</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md-4">
                <div class="item">
                    <div class="item-title">Marketplace dynamics</div>
                    <p>Nodes run only applications they are interested in or that are commercially viable</p>
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="item">
                    <div class="item-title">Higher reliability</div>
                    <p>Computations are secured with cryptography no data leaks to untrusted peers</p>
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="item">
                    <div class="item-title">Flexibility and scale</div>
                    <p>Network serves a diverse set of computing providers, hardware, and available services</p>
                </div>
            </div>
        </div>
    </div>
</section>