<section class="fluence">
    <div class="container">
        <div class="text-center">
            <h3 class="title">Use Fluence <br>today</h3>
        </div>
        <div class="row">
            <div class="col-6 col-md-4">
                <div class="item">
                    <div class="number">1</div>
                    <div class="item-title">DApp founders</div>
                    <p>Replace cloud backends with decentralized off-chain code on Fluence</p>
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="item">
                    <div class="number">2</div>
                    <div class="item-title">Software developers</div>
                    <p>Create more secure distributed backends with lower effort, compose among teams and infrastructure
                    </p>
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="item">
                    <div class="number">3</div>
                    <div class="item-title">Researchers</div>
                    <p>Deploy, test, and easily update distributed systems and network algorithms</p>
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="item">
                    <div class="number">4</div>
                    <div class="item-title">Compute providers</div>
                    <p>Access new revenue streams by providing compute and hosting services</p>
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="item">
                    <div class="number">5</div>
                    <div class="item-title">Open source maintainers</div>
                    <p>Provide your open source project as a service and earn from its usage</p>
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="item">
                    <div class="number">6</div>
                    <div class="item-title">Web 3 protocols</div>
                    <p>Connect, interoperate with other protocols without single point of failure</p>
                </div>
            </div>
        </div>
    </div>
</section>
