<section class="main-landing">
    
    <div class="container">
        <div class="text-center">
            <h1 class="title">Web 3 native computing</h1>
            <div class="sub-title">Fluence is a decentralized platform designed to enable the freedom of
                digital innovation via peer-to-peer applications
            </div>
            <a class="btn primary" href="/get-started.html">
                Start building
            </a>
        </div>
        @@include('../components/landing/trusted-block.html')
    </div>
</section>
