<section class="partners">

   <!-- @@include('_partners.html') -->

    <div class="container">
        <div class="community">

            <div class="text-center">
                <h4 class="title">Join the community</h4>
                <div class="sub-title">Get involved in conversation, ask questions, and see what others are
                    talking
                    about
                </div>
            </div>
            <ul>
                <li><a href="https://github.com/fluencelabs/fluence/issues" target="_blank"><span> <svg>
                                <use xlink:href="#white_git"></use>
                            </svg></span>Start a new Github issue</a></li>
                <li><a href="https://fluence.chat" target="_blank"><span> <svg>
                                <use xlink:href="#discord"></use>
                            </svg></span>Join the Discord server</a></li>
                <li><a href="https://t.me/fluence_project" target="_blank"><span> <svg>
                                <use xlink:href="#telegram"></use>
                            </svg></span>Connect on Telegram</a></li>
            </ul>
        </div>
    </div>
</section>
