<section class="roadmap">
    <div class="container">
        <div class="text-center">
            <h4 class="title">Roadmap</h4>
            <div class="sub-title">Fluence is designed to be the open source, community-managed, and self-sustaining
                protocol</div>
        </div>
    </div>
    <div class="roadmap-block">
        <div class="roadmap-items js-roadmap-slider">
            <div class="roadmap-button-next">
            </div>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="item">
                        <div class="phase">Phase 1</div>
                        <div class="name">Initial</div>
                        <div class="date">Early 2021</div>
                        <p>Create p2p applications and protocols using Aqua</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item">
                        <div class="phase">Phase 2</div>
                        <div class="name">Growth</div>
                        <div class="date">Late 2021, early 2022</div>
                        <p>Govern Fluence via the DAO, vote for protocol updates and treasury allocations</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item">
                        <div class="phase">Phase 3</div>
                        <div class="name">Self-sustaining</div>
                        <div class="date">2022</div>
                        <p>Contribute and earn value by running nodes and creating code
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item">
                        <div class="phase">Phase 4</div>
                        <div class="name">Internet of protocols</div>
                        <div class="date">TBD</div>
                        <p>Build new p2p experiences by composing self-sustaining protocols</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>
