<section class="ship">
    <div class="container">
        <div class="text-center">
            <div class="row">
                <div class="col-12 col-md-6 offset-md-3">
                    <h3 class="title">Ship faster with community</h3>
                </div>
                <div class="col-12 col-md-8 offset-md-2">
                    <div class="sub-title">Leverage power of Web 3 by connecting decentralized storage, identity, and
                        on-chain smart contracts to your Fluence application
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md-4">
                <div class="item">

                    <div class="item-block logo-wrap">
                        <img src="assets/images/ship1.png" alt="">
                        <img src="assets/images/ship2.png" alt="">
                        <img src="assets/images/ship4.png" alt="">
                    </div>
                    <div class="item-title">Empower every user</div>
                    <p>Make full-featured apps with community-built integrations to Web 3 networks</p>
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="item">

                    <div class="item-block build-wrap">
                        <svg>
                            <use xlink:href="#plus"></use>
                        </svg>
                        <svg>
                            <use xlink:href="#line-one"></use>
                        </svg>
                    </div>
                    <div class="item-title">Build and publish</div>
                    <p>Create a new integration or useful API and share with the community</p>
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="item">
                    <div class="item-block usage-wrap">
                        <svg>
                            <use xlink:href="#line-three"></use>
                        </svg>
                        <img src="assets/images/count.png" alt="">
                    </div>
                    <div class="item-title">Earn from usage <span class="status">Coming in Phase 3</span></div>
                    <p>Get rewarded when other applications use your components</p>
                </div>
            </div>
        </div>
        <div class="text-center">
            <a class="btn primary" href="/get-started.html">
                Start building
            </a>
            <a href="/technology.html" class="underline">Learn more about technology</a>
        </div>
    </div>
</section>
