<section class="aqua-p2p">
  <div class="container d-md-flex flex-row-reverse">
    <div class="column col-12 col-md-6 p-0">
      <div class="video-block">
        <div class="video-overlay hide" id="video-overlay"></div>
        <video id="video" src=" " poster="assets/images/poster.png"></video>
        <a href="https://www.youtube.com/watch?v=M_u-EnWrMOQ" target="_blank" class="play-button" id="play-btn"><svg>
            <use xlink:href="#play"></use>
          </svg></a>
        <p>INTRODUCTION TO AQUA CONCEPTS</p>
      </div>
    </div>
    <div class="column col-12 col-md-6 p-0">
      <div class="programming">
        <h3>Aqua: p2p programming language</h3>
        <p>Aqua is a declarative language based on process algebras (pi-calculus) and the distributed runtime for
          execution. It is
          perfect for creating p2p applications, protocols, and network algorithms.</p>
      </div>
      <div class="aqua-item">
        <h4>Declarative topology</h4>
        <p>Just say what and where has to be executed, and the Aqua runtime does the rest</p>
      </div>
      <div class="aqua-item">
        <h4>Deadlock-free</h4>
        <p>π-calculus semantics is used to avoid deadlocks and optimize computation routing</p>
      </div>
      <div class="aqua-item">
        <h4>Zero-trust security</h4>
        <p>Execution is cryptographically signed and traces are verifiable</p>
      </div>
      <a href="https://doc.fluence.dev/aqua-book/" class="btn secondary">Learn more about Aqua</a>
    </div>
  </div>

</section>
