<section class="composability">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-12 order-md-1 order-2">
        <h2>Composability and resilience with redistributable services</h2>
        <p>Marine is a Webassembly runtime of lightweight and portable services that provide computations and proxy to external data or binaries. Aqua operates over Marine services in the Fluence network.</p>
        <div class="btns">
          <a href="https://doc.fluence.dev/docs/knowledge_aquamarine/marine" class="btn primary">Learn about Marine</a>
          <a href="https://dash.fluence.dev/" class="btn secondary">Explore live services</a>
        </div>
      </div>
      <div class="offset-md-1 order-md-2"></div>
      <div class="col-md-3 col-12 order-md-3 order-1 text-center">
        <img src="assets/images/composability-pic.png" alt="">
      </div>
    </div>
  </div>
</section>
