<div class="start-community">
  <div class="row">
    <div class="col-12">
      <h2>Join the community</h2>
    </div>
    <div class="col-lg-3">
      <div class="community-item"><a target="_blank" href="https://github.com/fluencelabs/fluence/issues"> <span> 
      <svg class="community-svg--git">
        <use xlink:href="#white_git"></use>
      </svg> </span> Start a new issue <br> on Github</a></div>
    </div>
    <div class="col-lg-3">
      <div class="community-item"><a target="_blank" href="https://fluence.chat"><span> 
      <svg class="community-svg--discord">
        <use xlink:href="#discord"></use>
      </svg> </span>Join our Discord <br> community</a></div>
    </div>
    <div class="col-lg-3">
      <div class="community-item"><a target="_blank" href="https://t.me/fluence_project"><span> 
      <svg class="community-svg--telegram">
        <use xlink:href="#telegram"></use>
      </svg> </span>Connect on Telegram</a></div>
    </div>
  </div>
</div>
