<div class="documentation">
  <h2>Explore the documentation</h2>
  <div class="row">
    <div class="col-lg-3 col-md-4">
      <ul class="list-item-links">
        <p>Introductions</p>
        <li><a target="_blank" href="https://doc.fluence.dev/docs/p2p">Thinking in Aquamarine</a></li>
        <li><a target="_blank" href="https://doc.fluence.dev/aqua-book/">Aqua language</a></li>
        <li><a target="_blank" href="https://doc.fluence.dev/docs/knowledge_security">Security model</a></li>
      </ul>
    </div>
    <div class="col-lg-3 col-md-4">
      <ul class="list-item-links">
        <p>Fundamentals</p>
        <li><a target="_blank" href="https://doc.fluence.dev/docs/concepts#particles">Particle</a></li>
        <li><a target="_blank" href="https://doc.fluence.dev/docs/concepts#aqua">Aqua</a></li>
        <li><a target="_blank" href="https://doc.fluence.dev/docs/concepts#marine">Marine</a></li>
        <li><a target="_blank" href="https://doc.fluence.dev/docs/concepts#services">Service</a></li>
        <li><a target="_blank" href="https://doc.fluence.dev/docs/concepts#modules">Module</a></li>
        <br>
        <li><a target="_blank" href="https://doc.fluence.dev/docs/concepts#authentication-and-permissioning">Authentication</a></li>
        <li><a target="_blank" href="https://doc.fluence.dev/docs/concepts#trust-layer">Trust Layer</a></li>
        <li><a target="_blank" href="https://doc.fluence.dev/docs/concepts#application">Application</a></li>
      </ul>
    </div>
    <div class="col-lg-3 col-md-4">
      <ul class="list-item-links">
        <p>Aqua language</p>
        <li><a target="_blank" href="https://doc.fluence.dev/aqua-book/getting-started">Getting started</a></li>
        <li><a target="_blank" href="https://doc.fluence.dev/aqua-book/language">Language features</a></li>
        <li><a target="_blank" href="https://doc.fluence.dev/aqua-book/libraries">Libraries</a></li>
        <br>
        <li><a target="_blank" href="https://doc.fluence.dev/aqua-book/changelog">Changelog</a></li>
      </ul>
    </div>
  </div>
  <div class="full-doc-link link">
    <a target="_blank" href="https://doc.fluence.dev/docs/">Explore full Developer Documentation
      <svg>
        <use xlink:href="#link_arrow"></use>
      </svg>
    </a>
  </div>
</div>
