<div class="start-block">
  <h1>Start building with Fluence</h1>
  <div class="row">
    <div class="col-lg-3 col-md-4">
      @@include('../components/get-started/list-item.html', {
        "title": "Quickstart guide",
        "textcontent": "Start creating apps on Fluence in a few clicks",
        "href": "https://doc.fluence.dev/docs/quick-start"
        })
    </div>
    <div class="col-lg-3 col-md-4">
      @@include('../components/get-started/list-item.html', {
        "title": "Tutorials",
        "textcontent": "Learn Fluence development step-by-step following best practices",
        "href": "https://doc.fluence.dev/docs/tutorials_tutorials"
        })
    </div>
    <div class="col-lg-3 col-md-4">
      @@include('../components/get-started/list-item.html', {
        "title": "How to run a node",
        "textcontent": "Deploy a local Fluence node on your computer",
        "href": "https://doc.fluence.dev/docs/node"
        })
    </div>
    <div class="col-lg-3 col-md-4">
      @@include('../components/get-started/list-item.html', {
        "title": "Set up local environment",
        "textcontent": "Get your developer environment ready for building",
        "href": "https://doc.fluence.dev/docs/tutorials_tutorials/recipes_setting_up"
        })
    </div>
    <div class="col-lg-3 col-md-4">
      @@include('../components/get-started/list-item.html', {
        "title": "Browse examples",
        "textcontent": "Check out example applications built with the Fluence stack",
        "href": "https://github.com/fluencelabs/examples"
        })
    </div>
  </div>
</div>
