<div class="tools">
  <h2>Tools</h2>
  <div class="row">
    <div class="col-lg-3 col-md-4">
      @@include('../components/get-started/list-item.html', {
      "title": "Aqua",
      "textcontent": "Build p2p apps and workflows with Aqua",
      "href": "https://doc.fluence.dev/aqua-book/",
      "links": {
        "list": [
          {
            "linkname": "Install Aqua CLI",
            "linkhref": "https://doc.fluence.dev/aqua-book/getting-started/installation"
          },
        ]
      },
      "linkIcon": "Aqua extension for VSCode",
      "linkIconPic": "assets/images/vs-icon.png",
      "linkIconHref": "https://marketplace.visualstudio.com/items?itemName=FluenceLabs.aqua-syntax-highlight"
      })
    </div>
    <div class="col-lg-3 col-md-4">
      @@include('../components/get-started/list-item.html', {
      "title": "Marine",
      "href": "https://doc.fluence.dev/docs/knowledge_aquamarine/marine",
      "nameIcon": "assets/images/toll-icon1.png",
      "textcontent": "Add redistributable computations with universal WebAssembly runtime",
      "links": {
        "list": [
          {
            "linkname": "Install Marine CLI",
            "linkhref": "https://doc.fluence.dev/docs/knowledge_aquamarine/marine/marine-cli"
          },
          {
            "linkname": "Rust SDK",
            "linkhref": "https://doc.fluence.dev/docs/knowledge_aquamarine/marine/marine-rs-sdk"
          },
          {
            "linkname": "Marine Repl",
            "linkhref": "https://doc.fluence.dev/docs/knowledge_aquamarine/marine/marine-repl",
          },
        ]
      }
      })
    </div>
    <div class="col-lg-3 col-md-4">
      @@include('../components/get-started/list-item.html', {
      "title": "DevContainer",
      "href": "https://doc.fluence.dev/docs/quick-start#fluence-devcontainer",
      "nameIcon": "assets/images/vs-icon.png",
      "textcontent": "Start building with <br> ready-to-use developer environment",
      "links": {
        "list": [
          {
            "linkname": "Install DevContainer",
            "linkhref": "https://doc.fluence.dev/docs/quick-start#fluence-devcontainer"
          }
        ]
      }
      })
    </div>
    <div class="col-lg-3 col-md-4">
      @@include('../components/get-started/list-item.html', {
      "title": "Fldist",
      "href": "https://doc.fluence.dev/docs/knowledge_tools#fluence-proto-distributor-fldist",
      "textcontent": "Manage application lifecycle",
      "links": {
        "list": [
          {
            "linkname": "Install Fldist CLI",
            "linkhref": "https://github.com/fluencelabs/fldist"
          }
        ]
      }
      })
    </div>
    <div class="col-lg-3 col-md-4">
      @@include('../components/get-started/list-item.html', {
      "title": "Client SDK",
      "href": "https://doc.fluence.dev/docs/fluence-js",
      "textcontent": "Integrate Fluence in web, mobile, or backend applications",
      "links": {
        "list": [
          {
            "linkname": "Get JS SDK",
            "linkhref": "https://github.com/fluencelabs/fluence-js"
          },
        ],
      },
      "pics": {
        "url": [
          {"picurl": "assets/images/js.png"},
        ]
      }
      })
    </div>
  </div>
</div>
