<div class="what-new">
  <h2>What’s new</h2>
  <div class="subtitle">
    <p>Learn about latest updates and developer community calls</p>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-12">
      <div class="updates">
        <h3>Developer updates</h3>
        <div class="update-news">
          <ul>
            <li>
              <span>12 NOV 2021</span>
              <p>
                <a href="https://t.me/fluencedev/18" target="_blank">AsyncVM is finally shipped on Krasnodar</a>
              </p>
            </li>
            <li>
              <span>11 NOV 2021</span>
              <p>
                <a href="https://t.me/fluencedev/17" target="_blank">The new minor release of fluence-js has arrived: 0.14.3</a>
              </p>
            </li>
            <li>
              <span>10 NOV 2021</span>
              <p>
                <a href="https://t.me/fluencedev/16" target="_blank">Our next community call is scheduled for tomorrow...</a>
              </p>

            </li>
          </ul>
        </div>
        <div class="full-doc-link link">
          <a href="https://t.me/fluencedev">All updates in Telegram
            <svg>
              <use xlink:href="#link_arrow"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="offset-md-1"></div>
    <div class="col-lg-4 col-md-12">
      <div class="updates">
        <h3>Developer calls</h3>
        <div class="update-news calls">
          <ul>
            <li>
              <a href="https://www.youtube.com/watch?v=DeU9e69DeHo" target="_blank">
                <img src="assets/images/calls.png" alt="">
              </a>
              <div class="calls-desc">
                <span>NOV 11</span>
                <p>
                  <a href="https://www.youtube.com/watch?v=DeU9e69DeHo" target="_blank">
                    Developer Community Call #5
                  </a>
                </p>
              </div>
            </li>
            <li>
              <a href="https://www.youtube.com/watch?v=oY_C1LU_2_E" target="_blank">
                <img src="assets/images/calls.png" alt="">
              </a>
              <div class="calls-desc">
                <span>OCT 28</span>
                <p>
                  <a href="https://www.youtube.com/watch?v=oY_C1LU_2_E" target="_blank">
                    Developer Community Call #4
                  </a>
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div class="full-doc-link link">
          <a target="_blank" href="https://www.youtube.com/channel/UC3b5eFyKRFlEMwSJ1BTjpbw/videos">More on the Youtube channel
            <svg>
              <use xlink:href="#link_arrow"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-12">
      <div class="calendar-info">
        <p>The next developer community call is on <strong>Thursday, November 25 at 18.00 CET / 9 am PT</strong>
        </p>
        <div class="full-doc-link link">
          <a target="_blank" href="https://calendar.google.com/calendar/u/0/r?cid=3uo257pe19e8g2vg2910ljcqi0@group.calendar.google.com">Add to calendar
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
