.main-landing {
    position: relative;

    background-repeat: no-repeat;
    background-position: center;
    padding-top: rem(180);
    padding-bottom: rem(105);

    @include media(">tablet") {
        padding-top: rem(260);
        padding-bottom: rem(295);
    }

    .container {
        position: relative;
        z-index: 5;
    }

    .title {
        margin-bottom: rem(42);
        letter-spacing: -1px;

        @include media(">tablet") {
            margin-bottom: rem(36);
        }
    }

    .bg {
        position: relative;
        width: 3601px;
        left: 50%;
    }

    .sub-title {
        margin: auto;
        margin-bottom: rem(50);
        letter-spacing: 0.5px;

        @include media(">tablet") {
            margin-bottom: rem(58);
            width: 50rem;
        }
    }

    .btn {
        padding: rem(16) rem(51);
    }
}

.trusted {
    margin-top: rem(120);

    @include media(">tablet") {
        margin-top: rem(144);
    }

    &-title {
        letter-spacing: 0.2px;
        font-weight: map-get($text, 'bold');
        margin-bottom: rem(20);

        @include media(">tablet") {
            margin-bottom: rem(31);
        }
    }

    &-row {
        @extend %d-flex-justify-start;
        align-items: stretch;
        flex-wrap: wrap;

        @include media(">tablet") {
            justify-content: center
        }
    }

    &-logo {
        @extend %d-flex-justify-start;
        width: 50%;
        margin-bottom: rem(23);
        padding: 0 0;
        box-sizing: border-box;
        padding: 0 rem(25);
        max-width: 200px;

        @include media(">tablet") {
            width: 20%;
            padding: 0 rem(25);

        }

        img {
            object-fit: contain;
            margin: auto;
            height: 50px;
        }
    }
}

.main-landing-ellipse {
    position: absolute;
    top: -13%;
    left: calc(100% - 105%);
    z-index:1;
    background: radial-gradient(50% 50% at 50% 50%, #90BAD2 0%, #4361BA 100%);
    border-radius: 50%;
    width: 2857px;
    height: 2857px;
    filter: blur(45px);
}

.ellipse {
    position: absolute;
    top: 0;
    left: calc(100% - 67%);
    z-index: 1;

    width: 531px;
    height: 531px;
    height: 100%;
    
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 50%;
    filter: blur(95px);
}


.ellipse-green {
    width: 1005px;
    left: 31%;
    max-height: 1004px;
    height: 100%;

    //background-image: url('../images/Ellipse 3.png');
    background: radial-gradient(50% 50% at 50% 50%, #03C55C 0%, #61DCA8 100%);
mix-blend-mode: lighten;

}

.ellipse-blue {
    filter: blur(85px);
    width: 952px;
    height: 952px;
    background: radial-gradient(50% 50% at 50% 50%, #65A1C4 0%, #2257F3 100%), radial-gradient(50% 50% at 50% 50%, #091D0D 0%, #1B1012 100%);

}

@media screen and (max-width: 1920px) {
    .ellipse-green {
        left: 23%;
    }

    .ellipse-blue {
        left: 25%;
    }

    .main-landing-ellipse {
        left: calc(100% - 120%);
    }
}

@media screen and (max-width: 1600px) {
    .ellipse-green {
        width: 581px;
        left: 29%;
        max-height: 581px;
        height: 100%;
    
        //background-image: url('../images/Ellipse 3.png');
        background: radial-gradient(50% 50% at 50% 50%, #03C55C 0%, #61DCA8 100%);
    mix-blend-mode: lighten;
    
    }
    
    .ellipse-blue {
        filter: blur(85px);
        left: 31%;
        width: 551px;
        height: 551px;
        background: radial-gradient(50% 50% at 50% 50%, #65A1C4 0%, #2257F3 100%), radial-gradient(50% 50% at 50% 50%, #091D0D 0%, #1B1012 100%);
    
    }

    .ellipse {
        top: 2%;
        filter: blur(44px);
    }

    .main-landing-ellipse {
        width: 1653px;
        height: 1653px;
        top: -4%;
        left: -7%;
    }
}

@media screen and (max-width: 1025px) {
    .ellipse-green {
        width: 581px;
        left: 24%;
        max-height: 581px;
        height: 100%;
    
        //background-image: url('../images/Ellipse 3.png');
        background: radial-gradient(50% 50% at 50% 50%, #03C55C 0%, #61DCA8 100%);
    mix-blend-mode: lighten;
    
    }
    
    .ellipse-blue {
        filter: blur(85px);
        left: 25%;
        width: 551px;
        height: 551px;
        background: radial-gradient(50% 50% at 50% 50%, #65A1C4 0%, #2257F3 100%), radial-gradient(50% 50% at 50% 50%, #091D0D 0%, #1B1012 100%);
    
    }

    .ellipse {
        top: 2%;
        filter: blur(44px);
    }

    .main-landing-ellipse {
        width: 1653px;
        height: 1653px;
        top: -4%;
        left: -33%;
    }
}

@media screen and (max-width: 375px) {
    .main-landing-ellipse {

        top: -7%;
        left: -135%;
    }

    .ellipse {
        left: -26%;
    }

    .ellipse-blue {
        height: 496px;
        top: 3%;
    }

    .ellipse-green {
        height: 450px;
        top: 3%;
        filter: blur(100px);
    }
}

