// Typography
//
// Base font styles for headings and links.

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h {
  font-weight: map-get($text, 'medium');
  font-family: map-get($base, 'base-font');
}

h1,
.h1 {
  font-size: map-deep-get($headings, 'h3-font-size');

  @media screen and (min-width: 768px) and (max-height: 880px) {
    font-size: map-deep-get($headings, 'h2-font-size');
  }

  @include media(">tablet") {
    font-size: map-deep-get($headings, 'h2-font-size');
  }

  @include media(">=widescreen-md") {
    font-size: map-deep-get($headings, 'h1-font-size');
  }

  @media screen and (min-width: 1366px) and (max-height: 880px) {
    font-size: map-deep-get($headings, 'h2-font-size') !important;
  }

}

h2,
.h2 {
  font-size: map-deep-get($headings, 'h3-font-size');

  @include media(">tablet") {
    font-size: map-deep-get($headings, 'h3-font-size');
  }

  @include media(">widescreen-md") {
    font-size: map-deep-get($headings, 'h2-font-size');
  }
}

h3,
.h3 {
  font-size: map-deep-get($headings, 'h4-font-size');

  @include media(">tablet") {
    font-size: map-deep-get($headings, 'h3-font-size');
  }

  @include media(">widescreen-md") {
    font-size: map-deep-get($headings, 'h3-font-size');
  }
}

h4,
.h4 {
  font-size: map-deep-get($headings, 'h5-font-size');

  @include media(">tablet") {
    font-size: map-deep-get($headings, 'h4-font-size');
  }
}

h5,
.h5 {
  font-size: map-deep-get($headings, 'h5-font-size');
}

h6,
.h6 {
  font-size: map-deep-get($headings, 'h6-font-size');
}

a {
  font-family: map-get($base, 'base-font');
  transition: map-get($base, 'base-transition');
  text-decoration: none;
  display: inline-block;
}

.title {
  font-size: rem(42);
  font-weight: map-get($text, 'medium');
  font-size: rem(42);
  line-height: 1.1;
  letter-spacing: -1px;

  @media screen and (min-width: 768px) and (max-height: 880px) {
    font-size: map-deep-get($headings, 'h2-font-size');
  }

  @include media(">tablet") {
    font-size: map-deep-get($headings, 'h2-font-size');
  }

  @include media(">=widescreen-md") {
    font-size: map-deep-get($headings, 'h1-font-size');
  }

  @media screen and (min-width: 1366px) and (max-height: 880px) {
    font-size: map-deep-get($headings, 'h2-font-size') !important;
  }
}

.sub-title {
  font-size: rem(21);
  letter-spacing: 0.5px;
  font-weight: map-get($text, 'regular');

  @include media('>tablet') {
    font-size: rem(24);
  }
}