<div class="popup-learn js-popup">
    <div class="text">
        <p><strong>Phase 2: Growth</strong> goes live in:&nbsp;</p>
        <div id="countdown" class="countdown">
            <div class="countdown-number">
                <span class="days countdown-time"></span>
            </div>
            <div class="countdown-number">
                <span class="hours countdown-time"></span>
            </div>
            <div class="countdown-number">
                <span class="minutes countdown-time"></span>
            </div>
            <div class="countdown-number">
                <span class="seconds countdown-time"></span>
            </div>
        </div> &ensp; <a class="underline" href="">Learn more</a>
    </div>
    <button class="close js-close"><svg class="inline-svg-icon">
            <use xlink:href="#close"></use>
        </svg></button>
</div>
