<!DOCTYPE html>
<html lang="en">

@@include('../partials/head/head.html')

<body>
  <div class="wrapper technology">
    @@include('../layout/header.html')
    <main class="main">
      @@include('../components/technology/main-technology.html')
      @@include('../components/technology/aqua-p2p.html')
      @@include('../components/technology/less-section.html')
      @@include('../components/technology/composability.html')
    </main>
    @@include('../layout/footer.html')
  </div>

  @@include('../partials/scripts/common.html')
</body>

</html>