<header class="header js-header">
  <div class=" container">
    <div class="header-row">
      <div class="logo">
        <a href="/">
          <img src="assets/images/logo.svg" alt="">
        </a>
      </div>
      <nav id="nav" class="js-nav">
        <ul class="nav-list">
          <li><a href="/technology.html">Technology</a></li>
          <!-- <li><a href="">DAO (soon)</a></li> -->
          <li><a target="_blank" href="https://doc.fluence.dev/faq/">FAQ</a></li>
          <li><a target="_blank" href="https://doc.fluence.dev/docs/">Docs</a></li>
        </ul>
        <a class="btn primary" href="/get-started.html">Start building</a>
        <ul class="soc-menu">
          <li><a target="_blank" href="https://fluence.chat"><img src="assets/images/discord.svg" alt=""></a></li>
          <li><a target="_blank" href="https://twitter.com/fluence_project"><img src="assets/images/twitter.svg" alt=""></a></li>
          <li><a target="_blank" href="https://t.me/fluence_project"><img src="assets/images/telegram.svg" alt=""></a></li>
          <li><a target="_blank" href="https://www.youtube.com/channel/UC3b5eFyKRFlEMwSJ1BTjpbw/"><img src="assets/images/youtube.svg" alt=""></a></li>
        </ul>
      </nav>
      <div class="burger js-burger" id="burger">
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>
